/* ----- Registration Form ----- */

.register form {
    padding: 20px 50px 40px 50px;
    background: #f8f8f8 url(../images/pattern.jpg) left top repeat;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    text-align: center;
}
.clsPurchaseDom
{
	background: url(../images/pencil.png) 10px 3px no-repeat !important;
}
.register form h2 {
    margin-bottom: 25px;
    padding-bottom: 15px;
    background: url(../images/pencil.png) 70px 6px no-repeat;
    border-bottom: 2px dotted #bbb;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.register form input,select {
    width: 95%;
    height: 30px;
    background: #fcfcfc;
    border: 1px solid #ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 16px;
}

.register form input:focus {
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.register form label {
    margin: 7px 0 10px 13px;
    font-size: 16px;
    text-align: left;
	float:left;
}

.register form label span {
    font-style: italic;
}

.register form input:-moz-placeholder { color: #aaa; }
.register form input:-ms-input-placeholder { color: #aaa; }
.register form input::-webkit-input-placeholder { color: #aaa; }

.register form button {
    cursor: pointer;
    width: 60%;
    height: 42px;
    margin-top: 25px;
    padding: 0;
    background: #eb4141;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.register form button:hover {
    -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
}

.register form button:active {
    -moz-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
}
.red { color: #eb4141; }
a:hover { text-decoration: none; }

select,input {line-height:20px;margin-bottom:10px;padding:4px 6px;}
#resultLoading
{
	width:100%;
	height:100%;
	position:fixed;
	z-index:10000000;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
#resultLoading .bg
{
	background:#000000;
	opacity:0.7;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
}


/* ----- Media queries ----- */

@media (max-width: 1200px) {

    .register form h2 { background: url(../images/pencil.png) 20px 6px no-repeat; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .register form h2 { background: none; }

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .logo, .links { text-align: center; }

    .links { padding-bottom: 5px; }

    .logo h1 { padding-left: 0; }

    .links a.home { margin-left: 0; }

    .links a.blog { margin-right: 0; }

    .register-container { padding-left: 20px; padding-right: 20px; }

    .register form h2 { background: none; }

    .iphone img { display: none; }

}

@media (max-width: 480px) {

    .register form button { width: 97%; }

}